<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="login">
    <div class="login-top">
        <h3>登录首页</h3>
        <form action="#" th:action="@{/auth/form}" method="post">
            <div>
                <label>用户名</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>密码</label>
                <input type="password" name="password" />
            </div>
            <div>
                <label>验证码</label>
                <input type="text" name="captcha"/>
                <img src="/captcha.jpg" alt="captcha" width="150px" height="50px">
            </div>
            <div class="forgot">
                <input type="submit" value="登录" />
            </div>
        </form>
    </div>
</div>
</body>
</html>